<%- include('../comm/header') -%>
                <!-- content-->
                <div class="content full-height" data-pagetitle="Cloud Computing">
                    <div class="fs-slider-controls-wrap">
                        <div class="fs-slider-wrap_pagination-wrap">
                            <div class="fs-slider-wrap_pagination"></div>
                        </div>
                        <div class="play-pause_slider2 hsc_pp2 auto_actslider2"><i class="fas fa-play"></i></div>
                        <div class="tumbnail-button show_thumbnails unvisthum">
                            <div class="list">
                                <div   class="list-btn">
                                    <span>
                                    <i class="b1 c1"></i><i class="b1 c2"></i><i class="b1 c3"></i>
                                    <i class="b2 c1"></i><i class="b2 c2"></i><i class="b2 c3"></i>
                                    <i class="b3 c1"></i><i class="b3 c2"></i><i class="b3 c3"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="thumbnail-tooltip">Thumbnails</span>
                        </div>
                    </div>
                    <div class="show-details shibtn unvisthum2 sd_btn sd_btn2">Project Details <i class="fal fa-long-arrow-right"></i></div>
                    <!-- fs-slider-wrap  -->
                    <div class="fs-slider-wrap full-height fl-wrap">
                        <div class="fs-slider-dec"></div>
                        <!-- fs-slider controls  -->
                        <div class="fsc-next fsc"><i class="fal fa-angle-right"></i></div>
                        <div class="fsc-prev fsc"><i class="fal fa-angle-left"></i></div>
                        <!-- fs-slider  controls end  -->
                        <!-- fs-slider  -->
                        <div class="fs-slider lightgallery full-height fl-wrap thumb-contr " data-mousecontrol2="true">
                            <div class="swiper-container">
                                <div class="swiper-wrapper" >
                                    <!-- swiper-slide-->
                                    <div class="swiper-slide hov_zoom" >
                                        <div class="fs-slider-item fl-wrap">
                                            <div class="bg"  data-bg="images/bg/7.jpg"></div>
                                            <div class="overlay"></div>
                                            <a href="images/bg/7.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                            <div class="half-hero-wrap">
                                                <div class="hhw_header">SysCloudTech</div>
                                                <h1>Cloud Computing<br><span>IT Solution</span></h1>
                                                <h4>Cloud computing can also be thought of as utility computing or on-demand computing. The name cloud computing was inspired by the cloud symbol that's often used to represent the internet in flowcharts and diagrams.</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide-->
                                    <!-- swiper-slide-->
                                    <!-- <div class="swiper-slide hov_zoom"  >
                                        <div class="fs-slider-item fl-wrap">
                                            <div class="bg"  data-bg="images/bg/9.jpg"></div>
                                            <a href="images/bg/9.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                        </div>
                                    </div> -->
                                    <!-- swiper-slide-->
                                    <!-- swiper-slide-->
                                    <!-- <div class="swiper-slide hov_zoom"  >
                                        <div class="fs-slider-item fl-wrap">
                                            <div class="bg"  data-bg="images/bg/3.jpg"></div>
                                            <a href="images/bg/3.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                        </div>
                                    </div> -->
                                    <!-- swiper-slide-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fs-slider-wrap end -->
                    <div class="hsc_counter-wrap">
                        <div class="hsc_counter"><span></span></div>
                        <div class="hsc_total"></div>
                    </div>
                    <!-- project details -->
                    <div class="det-overlay act-closedet"></div>
                    <div class="fix-pr-det hid-det hid-det-anim">
                        <div class="fix-pr-det-dec"></div>
                        <div class="fix-pr-det-dec2 color-bg"></div>
                        <div class="act-closedet closedet_style"><i class="fal fa-times"></i></div>
                        <div class="pr-det-container    fl-wrap full-height hidden-section">
                            <div class="initscroll pr-details-wrap">
                                <div class="container">
                                    <div class="section-title">
                                        <h3>Cloud Computing</h3>
                                        <!-- <p>content</p> -->
                                    </div>
                                    <p>Cloud computing can also be thought of as utility computing or on-demand computing. The name cloud computing was inspired by the cloud symbol that's often used to represent the internet in flowcharts and diagrams.</p>
                                    <p>Cloud computing is a technology that uses the internet for storing and managing data on remote servers and then access data via the internet. ... One such example is Google cloud – It is a suite of public cloud services offered by Google. All the application development run on Google hardware.</p>
                                    <!-- project-details-->
                                    <div class="project-details fl-wrap">
                                        <ul>
                                            <li><span>01. SCT :</span> AWS Cloud </li>
                                            <li><span>02. SCT :</span> Google CloudPlatform</li>
                                            <li><span>03. SCT :</span> Microsoft Azure</li>
                                        </ul>
                                    </div>
                                    <!-- project-details end -->
                                    <a href="/trainingDevelopment" class="btn   color-bg  fl-btn det-anim"><span>View Cloud Computing</span></a>
                                </div>
                            </div>
                        </div>
                        <!--content-nav_holder-->
                        <div class="content-nav_holder">
                            <div class="content-nav">
                                <ul>
                                    <li>
                                        <a href="/Cybersecurity" class="ln ajax"><i class="fal fa-long-arrow-left"></i><span>Prev <strong>- Cybersecurity</strong></span></a>
                                        <div class="content-nav-media">
                                            <div class="bg"  data-bg="images/bg/13.jpg"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/ProjectManagment" class="rn ajax"><span >Next <strong>- Project Managment</strong></span> <i class="fal fa-long-arrow-right"></i></a>
                                        <div class="content-nav-media">
                                            <div class="bg"  data-bg="images/bg/08.jpg"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--content-nav_holder end -->
                    </div>
                    <!-- project details  end-->
                    <!--thumbnail-container-->
                    <div class="thumbnail-container tc2">
                        <div class="thumbnail-wrap">
                        </div>
                    </div>
                    <!--thumbnail-container end-->
                    <div class="fs-pg-idicator_wrap color-bg">
                        <div class="slider-progress-bar">
                            <span>
                                <svg class="circ" width="50" height="50">
                                    <circle class="circ2" cx="20" cy="20" r="18" stroke="rgba(255,255,255,0.4)" stroke-width="1" fill="none"/>
                                    <circle class="circ1" cx="20" cy="20" r="18" stroke="#fff" stroke-width="2" fill="none"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="hero-scroll-down-notifer">
                        <div class="scroll-down-wrap ">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                        <i class="far fa-angle-down"></i>
                    </div>
                    <div class="body-color-bg"></div>
                </div>
                <!-- content end-->
                <!-- share-wrapper-->
                <div class="share-wrapper">
                    <div class="close-share-btn"><i class="fal fa-long-arrow-left"></i></div>
                    <div class="share-container fl-wrap  isShare"></div>
                </div>
                <!-- share-wrapper  end -->
            </div>
            <!-- wrapper end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script   src="js/jquery.min.js"></script>
        <script   src="js/plugins.js"></script>
        <script   src="js/scripts.js"></script>
    </body>

<!-- Mirrored from zonar.kwst.net/site/portfolio-single2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Feb 2022 07:56:47 GMT -->
</html>