<%- include('comm/header') -%>
    <div class="content full-height no-mob-hidden2" data-pagetitle="Boost CX">
        <div class="content-inner">
            <div class="content-front">
                <div class="cf-inner">
                    <div class="contact-details-title fl-wrap">
                        <h2>Get your CV selected</h2>
                    </div>
                    <div class="contact-details fl-wrap">
                        <ul>
                            <li>Tell us about your excting project in the form back!</li>
                            <li>Boost CX, a SaaS platform, helps manufacturers improve the experience of each supply chain<br> partner and customer segment and connects<br> the dots between experiences and revenue<br> growth Boost CX is a venture-capital-backed<br> company.</li>
                        </ul>
                    </div>
                    <a href="#" class="btn fl-btn color-bg show_contact-form"><span>Next</span></a>
                    <!-- <div class="aside-show_cf show_contact-form"><i class="fal fa-envelope"></i></div> -->
                </div>
            </div>
            <div class="content-back">
                <div class="hidden-contact_form-wrap_inner">
                    <div class="close-contact_form cnt-anim"><i class="fal fa-times"></i></div>
                    <!-- <div class="contact-details-title fl-wrap">
                        <h2>Get your CV selected</h2>
                    </div> -->
                    <div id="contact-form" class="fl-wrap">
                        <div id="message"></div>
                        <form class="custom-form" action="http://zonar.kwst.net/site/php/contact.php" name="contactform"
                            id="contactform">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" name="name" id="name" placeholder="Your Name *" value="" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="email" id="email" placeholder="Email Address *"
                                            value="" />
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" name="phone" id="phone" placeholder="Your Phone *" value="" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="subject" id="subject" placeholder="Your Subject *"
                                            value="" />
                                    </div>
                                </div>
                                <textarea name="comments" id="comments" placeholder="Your Message:" class="cnt-anim"></textarea>
                                <button class="btn fl-btn color-bg" id="submit"><span>Send Message</span> </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-container">
            <img src="images/bg/08.jpg" style="height: 100%; width: 100%;" alt="">
            <!-- <div id="map-single" class="map" data-latlog="[40.714 , -74.005]"
                data-popuptext="My Location in New York ."></div> -->
        </div>
    </div>
    <!-- share-wrapper-->
    <div class="share-wrapper">
        <div class="close-share-btn"><i class="fal fa-long-arrow-left"></i></div>
        <div class="share-container fl-wrap  isShare"></div>
    </div>
    <!-- share-wrapper  end -->
    </div>
    <!-- wrapper end -->
    <!-- cursor-->
    <div class="element">
        <div class="element-item"></div>
    </div>
    <!-- cursor end-->
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script src="js/jquery.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/scripts.js"></script>
    </body>

    <!-- Mirrored from zonar.kwst.net/site/contacts.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Feb 2022 07:49:34 GMT -->

    </html>