<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from zonar.kwst.net/site/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Feb 2022 07:44:33 GMT -->

<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>SysCloudTech <%= header_data %>
    </title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="css/plugins.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/color.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="images/favicon.ico">
</head>

<body>
    <!-- loader   -->
    <div class="loader">
        <div class="loading-text-container "><span class="loading-text">Load<strong>ing</strong></span> <span
                class="loader_count">0</span></div>
        <div class="loader-anim"></div>
        <div class="loader-anim2 color-bg"></div>
    </div>
    <!-- loader  end-->
    <!-- main start  -->
    <div id="main">
        <!-- header-->
        <header class="main-header">
            <!-- logo  -->
            <a href="/" class="ajax logo-holder"><img src="images/logo.png" alt=""></a>
            <!-- logo end -->
        </header>
        <div class="hc_dec_color">
            <div class="page-subtitle"><span></span></div>
        </div>
        <!-- right header end-->
        <!-- wrapper  -->
        <div id="wrapper">
            <!-- content-->
            <div class="content full-height" data-pagetitle="Error 404">
                <div class="full-height">
                    <div class="hero-slider-img hero-slider-wrap_halftwo hidden-item">
                        <div class="swiper-wrapper">
                            <!-- swiper-slide-->
                            <div class="swiper-slide">
                                <div class="bg" data-bg="images/bg/error404.png"></div>
                            </div>
                            <!-- swiper-slide end-->
                        </div>
                    </div>
                    <!-- hero-slider-img  end-->
                    <a href="/" class="ajax start-btn"><span> Go Home <i class="fal fa-long-arrow-right"></i></span></a>
                    <!-- hero-container end-->
                </div>
            </div>
        </div>
        <!-- wrapper end -->
        <!-- cursor-->
        <div class="element">
            <div class="element-item"></div>
        </div>
        <!-- cursor end-->
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script src="js/jquery.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/scripts.js"></script>
</body>

<!-- Mirrored from zonar.kwst.net/site/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Feb 2022 07:44:43 GMT -->

</html>