<%- include('comm/header') -%>
                <!-- content-->
                <div class="content full-height" data-pagetitle="Home slider">
                    <div class="fl-wrap full-height hero-conatiner">
                        <div class="hero-wrapper fl-wrap full-height hidden-item">
                            <span class="hc_dec"></span>
                            <!-- fs-slider-wrap  -->
                            <!-- hero-slider-wrap -->
                            <div class="hero-slider-wrap home-half-slider fl-wrap full-height">
                                <div class="hero-slider fs-gallery-wrap fl-wrap full-height">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper" >
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                <div class="half-hero-wrap">
                                                    <div class="hhw_header">Welcome to SysCloudTech</div>
                                                    <h1>Sandy Plegas  - <br><span> Web  developer</span> and designer<br>   form <span>USA</span></h1>
                                                    <h4>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. </h4>
                                                    <div class="clearfix"></div>
                                                    <a href="portfolio.html" class="btn ajax  fl-btn color-bg"><span>My portfolio</span></a>
                                                </div>
                                            </div>
                                            <!-- swiper-slide end-->
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                <div class="half-hero-wrap">
                                                    <div class="hhw_header">12 december 2020</div>
                                                    <h1>Old  and  Modern  <br> cars  on the   <span>Newyork</span>  <br> streets</h1>
                                                    <h4>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. </h4>
                                                    <div class="clearfix"></div>
                                                    <a href="portfolio-single.html" class="btn ajax  fl-btn color-bg"><span>View project</span></a>
                                                </div>
                                            </div>
                                            <!-- swiper-slide end-->
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                <div class="half-hero-wrap">
                                                    <div class="hhw_header">25 may 2019</div>
                                                    <h1>Design  and  <br>development <br>   of <span>  Corporate website</span> </h1>
                                                    <h4>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. </h4>
                                                    <div class="clearfix"></div>
                                                    <a href="portfolio.html" class="btn  ajax  fl-btn color-bg"><span>View project</span></a>
                                                </div>
                                            </div>
                                            <!-- swiper-slide end-->
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                <div class="half-hero-wrap">
                                                    <div class="hhw_header">12 april 2020</div>
                                                    <h1>Original Design <br> Features <br>With High  <span> Quality  Code.</span></h1>
                                                    <h4>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. </h4>
                                                    <div class="clearfix"></div>
                                                    <a href="about.html" class="btn ajax  fl-btn color-bg"><span>About me</span></a>
                                                </div>
                                            </div>
                                            <!-- swiper-slide end-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- hero-slider-wrap  end-->
                            <!-- hero-slider-img-->
                            <div class="hero-slider-img hero-slider-wrap_halftwo hidden-item">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper" >
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="images/bg/10.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="images/bg/7.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="images/bg/8.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="images/bg/13.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->
                                    </div>
                                </div>
                                <div class="hero-corner-dec"></div>
                                <div class="hero-corner-dec2"></div>
                            </div>
                            <!-- hero-slider-img  end-->
                            <!-- slider-controls -->
                            <div class="slider-progress-bar">
                                <span>
                                    <svg class="circ" width="50" height="50">
                                        <circle class="circ2" cx="25" cy="25" r="23" stroke="rgba(255,255,255,0.4)" stroke-width="1" fill="none"/>
                                        <circle class="circ1" cx="25" cy="25" r="23" stroke="#fff" stroke-width="2" fill="none"/>
                                    </svg>
                                </span>
                            </div>
                            <div class="clone-counter">
                                <div class="current">01</div>
                            </div>
                            <div class="swiper-counter hs_counter">
                                <div class="current">01</div>
                                <div class="total"></div>
                            </div>
                            <div class="hero-slider_control-wrap">
                                <div class="hsc hsc-prev"><span><i class="fal fa-angle-left"></i></span> </div>
                                <div class="hsc hsc-next"><span><i class="fal fa-angle-right"></i></span></div>
                            </div>
                            <!-- slider-controls end-->
                            <a class="scroll-link fbgs start-btn" href="#down" data-bgtext="01" ><span> Start Explore <i class="fal fa-long-arrow-down"></i></span></a>
                            <div class="play-pause_slider hsc_pp auto_actslider"><i class="fas fa-play"></i></div>
                        </div>
                        <!-- hero-container end-->
                        <div class="hero-decor-numb"><span>40.7143528  </span><span>-74.0059731 </span> <a href="https://www.google.com.ua/maps/" target="_blank" class="hero-decor-numb-tooltip">Based In NewYork</a></div>
                        <div class="hero-slider-wrap_pagination"></div>
                        <div class="hero-scroll-down-notifer">
                            <div class="scroll-down-wrap ">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                            </div>
                            <i class="far fa-angle-down"></i>
                        </div>
                    </div>
                </div>
                <div class="content"  data-pagetitle="about me">
                    <!-- hero-section-dec-->                  
                    <div class="hero-section-dec color-bg">
                        <div class="progress-indicator">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="-1 -1 34 34">
                                <circle cx="16" cy="16" r="15.9155"
                                    class="progress-bar__background" />
                                <circle cx="16" cy="16" r="15.9155"
                                    class="progress-bar__progress 
                                    js-progress-bar" />
                            </svg>
                        </div>
                    </div>
                    <!-- hero-section-dec end--> 
                    <!--fixed-column-wrap-->
                    <div class="fixed-column-wrap">
                        <div class="pr-bg"></div>
                    </div>
                    <!--fixed-column-wrap end-->
                    <!--column-wrap--> 
                    <div class="column-wrap">
                        <!--column-wrap-container -->   
                        <div class="column-wrap-container fl-wrap">
                            <div class="col-wc_dec"></div>
                            <section class="scroll_sec" id="down">
                                <div class="container">
                                    <div class="section-title">
                                        <h3>Welcome to SysCloudTech </h3>
                                        <p>SysCloudTech deals into various training programs, VAPT and Staffing Services. We are pioneers in delivering cutting edge training and certifications which are industry recognized and help professionals expedite their career advancement.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="dec-img   fl-wrap">
                                                <img src="images/about.jpg" class="respimg" alt="">
                                                <a class="video_link image-popup" href="https://vimeo.com/245101847"><i class="fas fa-play"></i><span>Play Story video</span></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="main-about fl-wrap">
                                                <h2>Strategic Staffing <span>Solutions</span></h2>
                                                <p>We are now one of the leading IT Staffing Companies in India, working with 200+ companies. Our staffing services & experience spans across diverse companies Pan India. Our engagement ranges from consulting start-up companies to providing advisory staffing services to large enterprises and brands especially in IT, ITES, technology, BFSI & media sectors. Our technical expert recruiters understand the latest in the world of IT and help provide you with skilled talent in the latest technology like Javascript, Java, Python, SQL, Php, Android, iOS. Our expert recruiters work alongside you to fully understand your technical demands & skills needed for a role to provide you the most impactful workforce. Our experience in the IT sector will help you stay up to date. Our specialists help you hire and onboard highly skilled talent in middle and senior management positions, helping you save cost, maximise efficiency and achieve business goals.</p>
                                                <!-- <p> Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa.</p> -->
                                                <!-- <div class="facts-container fl-wrap">
                                                    <div class="inline-facts-wrap">
                                                        <div class="inline-facts">
                                                            <div class="milestone-counter">
                                                                <div class="stats animaper">
                                                                    <div class="num" data-content="0" data-num="145">0</div>
                                                                </div>
                                                            </div>
                                                            <h6>Finished projects</h6>
                                                        </div>
                                                    </div>
                                                    <div class="inline-facts-wrap">
                                                        <div class="inline-facts">
                                                            <div class="milestone-counter">
                                                                <div class="stats animaper">
                                                                    <div class="num" data-content="0" data-num="825">0</div>
                                                                </div>
                                                            </div>
                                                            <h6>Working hours</h6>
                                                        </div>
                                                    </div>
                                                    <div class="inline-facts-wrap">
                                                        <div class="inline-facts">
                                                            <div class="milestone-counter">
                                                                <div class="stats animaper">
                                                                    <div class="num" data-content="0" data-num="15">0</div>
                                                                </div>
                                                            </div>
                                                            <h6>Awards won</h6>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <a href="portfolio.html" class="btn ajax  color-bg  fl-btn"><span>My Portfolio</span></a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-number"> <span>0</span>1. </div>
                            </section>
                            <!-- section end-->
                            <div class="section-separator fl-wrap"><span></span></div>
                            <!-- section  --> 
                            <section class="scroll_sec" id="sec2">
                                <div class="container">
                                    <div class="section-title">
                                        <h3>Services Provided</h3>
                                        <p>We deliver end-to-end Digital Solutions</p>
                                    </div>
                                    <!--process-wrap  -->
                                    <div class="process-wrap fl-wrap">
                                        <div class="row">
                                            <div class=" col-sm-6">
                                                <div class="process-details">
                                                    <span class="pd-icon">
                                                    <i class="fal fa-desktop"></i>
                                                    </span>
                                                    <h4>Training & Development</h4>
                                                    <div class="clearfix"></div>
                                                    <p>We are innovative and excellent in training, We are committed to providing accessible, engaging training programmes, which more... </p>
                                                    <!-- <span class="process-numder">01.</span> -->
                                                    <div class="show-phdc"><i class="fal fa-plus"></i> <span>Details</span></div>
                                                    <div class="proces-details-content">
                                                        <div class="close-hidden_pdc"><i class="fal fa-times"></i></div>
                                                        <div class="proces-details-content-wrap">
                                                            <ul class="pdcw_list fl-wrap">
                                                                <li>Concept</li>
                                                                <li>Training & Development</li>
                                                            </ul>
                                                            <p>We are innovative and excellent in training, We are committed to providing accessible, engaging training programmes, which lead to nationally and internationally recognised qualifications. We believe that training should benefit your day-to-day professional life and your career as a whole. This is what we aim to achieve on every course we run.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-sm-6">
                                                <div class="process-details">
                                                    <span class="pd-icon">
                                                    <i class="fas fa-shield-alt"></i>
                                                    </span>
                                                    <h4>VAPT</h4>
                                                    <div class="clearfix"></div>
                                                    <p>Using the VA-PT approach, gives an organization a more detailed view of the threats their applications face, enabling the business more...</p>
                                                    <!-- <span class="process-numder">02.</span> -->
                                                    <div class="show-phdc"><i class="fal fa-plus"></i> <span>Details</span></div>
                                                    <div class="proces-details-content">
                                                        <div class="close-hidden_pdc"><i class="fal fa-times"></i></div>
                                                        <div class="proces-details-content-wrap">
                                                            <ul class="pdcw_list fl-wrap">
                                                                <li>Concept</li>
                                                                <li>VAPT</li>
                                                            </ul>
                                                            <p>Using the VA-PT approach, gives an organization a more detailed view of the threats their applications face, enabling the business to better protect its systems and data from malicious attacks. A VA-PT testing company like Syscloudtech responds to the security incident, creating compliance policies and developing a security strategy. We deliver robust solutions to companies of all sizes with our talented and expert resources.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-sm-6">
                                                <div class="process-details">
                                                    <span class="pd-icon">
                                                    <i class="fas fa-users-cog"></i>
                                                    </span>
                                                    <h4>IT Recruitment & Staffing</h4>
                                                    <div class="clearfix"></div>
                                                    <p>We help build productive and successful internal teams through the hiring of full-time candidates with the big-picture goal more...</p>
                                                    <!-- <span class="process-numder">03.</span> -->
                                                    <div class="show-phdc"><i class="fal fa-plus"></i> <span>Details</span></div>
                                                    <div class="proces-details-content">
                                                        <div class="close-hidden_pdc"><i class="fal fa-times"></i></div>
                                                        <div class="proces-details-content-wrap">
                                                            <ul class="pdcw_list fl-wrap">
                                                                <li>Concept</li>
                                                                <li>IT Recruitment & Staffing</li>
                                                            </ul>
                                                            <p>We help build productive and successful internal teams through the hiring of full-time candidates with the big-picture goal of employee retention. Our services include senior, executive, and mid-level management hiring needs. We extensively vet candidates to recruit top talent who possess the experience and temperament to lead highly successful initiatives.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-sm-6">
                                                <div class="process-details">
                                                    <span class="pd-icon">
                                                    <i class="fas fa-cogs"></i>
                                                    </span>
                                                    <h4>IT Solution & Web Solution</h4>
                                                    <div class="clearfix"></div>
                                                    <p>In today’s automated era, each industry has its specific needs when it comes to IT support. Traditional businesses face many more...</p>
                                                    <!-- <span class="process-numder">04.</span> -->
                                                    <div class="show-phdc"><i class="fal fa-plus"></i> <span>Details</span></div>
                                                    <div class="proces-details-content">
                                                        <div class="close-hidden_pdc"><i class="fal fa-times"></i></div>
                                                        <div class="proces-details-content-wrap">
                                                            <ul class="pdcw_list fl-wrap">
                                                                <li>Concept</li>
                                                                <li>IT Solution & Web Solution</li>
                                                            </ul>
                                                            <p>In today’s automated era, each industry has its specific needs when it comes to IT support. Traditional businesses face many challenges with increasing competition. It is really essential for every business to know how IT services are necessary to handle and overcome these complex challenges.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--process-wrap   end-->                                         
                                    <div class="srv-link-text fl-wrap">
                                        <h4>Looking For A Project ? Visit my contacts page :  </h4>
                                        <a href="/contacts" class="btn ajax color-bg  fl-btn"><span>Contacts</span></a>
                                    </div>
                                </div>
                                <div class="section-number"> <span>0</span>2. </div>
                            </section>
                            <!-- section end-->
                            <div class="section-separator fl-wrap"><span></span></div>
                            <!--section -->
                            <section class="scroll_sec" id="sec3">
                                <div class="container">
                                    <div class="section-title">
                                        <h3>My Awesome Team</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.  </p>
                                    </div>
                                    <!--grid-carousel-wrap -->
                                    <div class="grid-carousel-wrap fl-wrap">
                                        <div class="grid-carousel fl-wrap">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <!-- team-box   --> 
                                                    <div class="swiper-slide">
                                                        <div class="team-box">
                                                            <div class="team-photo">
                                                                <div class="overlay"></div>
                                                                <img src="images/team/1.jpg" alt="" class="respimg"> 	
                                                                <a href="#" class="team-contact_btn color-bg"><i class="fal fa-envelope"></i></a>
                                                                <div class="team-info-num">01.</div>
                                                                <ul class="team-social">
                                                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                                    <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="team-info">
                                                                <h3>David Gray</h3>
                                                                <h4>CEO / Developer</h4>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- team-box   end--> 
                                                    <!-- team-box   --> 
                                                    <div class="swiper-slide">
                                                        <div class="team-box">
                                                            <div class="team-photo">
                                                                <div class="overlay"></div>
                                                                <img src="images/team/2.jpg" alt="" class="respimg"> 	
                                                                <a href="#" class="team-contact_btn color-bg"><i class="fal fa-envelope"></i></a>
                                                                <div class="team-info-num">02.</div>
                                                                <ul class="team-social">
                                                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                                    <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="team-info">
                                                                <h3>Alica Limishko</h3>
                                                                <h4>Designer / UI-Ux</h4>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- team-box   end-->
                                                    <!-- team-box   --> 
                                                    <div class="swiper-slide">
                                                        <div class="team-box">
                                                            <div class="team-photo">
                                                                <div class="overlay"></div>
                                                                <img src="images/team/3.jpg" alt="" class="respimg"> 	
                                                                <a href="#" class="team-contact_btn color-bg"><i class="fal fa-envelope"></i></a>
                                                                <div class="team-info-num">03.</div>
                                                                <ul class="team-social">
                                                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                                    <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="team-info">
                                                                <h3>Kevin Brunty</h3>
                                                                <h4>Photographer / Designer</h4>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- team-box   end-->                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gc-slider-cont-wrap">
                                            <div class="gc-slider-cont gc-slider-cont-next"><i class="fal fa-angle-right"></i></div>
                                            <div class="gc-slider-cont gc-slider-cont-prev"><i class="fal fa-angle-left"></i></div>
                                        </div>
                                    </div>
                                    <!--grid-carousel-wrap end -->
                                </div>
                                <div class="section-number"> <span>0</span>3. </div>
                            </section>
                            <!--section end-->     
                            <div class="section-separator fl-wrap"><span></span></div>
                            <!-- section  -->                      
                            <section class="scroll_sec" id="sec4">
                                <div class="container">
                                    <div class="section-title">
                                        <p>WHAT ARE WE DOING</p>
                                        <h3>The Number Says It All</h3>
                                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.  </p> -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="skillbar-box animaper">
                                                <div class="pr-bg pr-bg-white"></div>
                                                <!-- skill 1-->
                                                <div class="custom-skillbar-title"><span>Talent Managment Solutions</span></div>
                                                <div class="skill-bar-percent">95%</div>
                                                <div class="skillbar-bg" data-percent="95%">
                                                    <div class="custom-skillbar"></div>
                                                </div>
                                                <!-- skill 2-->
                                                <div class="custom-skillbar-title"><span>Learning and Development</span></div>
                                                <div class="skill-bar-percent">94%</div>
                                                <div class="skillbar-bg" data-percent="94%">
                                                    <div class="custom-skillbar"></div>
                                                </div>
                                                <!-- skill 3-->
                                                <div class="custom-skillbar-title"><span>IT & Web Solutions</span></div>
                                                <div class="skill-bar-percent">96%</div>
                                                <div class="skillbar-bg" data-percent="96%">
                                                    <div class="custom-skillbar"></div>
                                                </div>
                                                <!-- skill 4-->
                                                <div class="custom-skillbar-title"><span>Cloud Solutions</span></div>
                                                <div class="skill-bar-percent">98%</div>
                                                <div class="skillbar-bg" data-percent="98%">
                                                    <div class="custom-skillbar"></div>
                                                </div>
                                                <!-- skill 5-->
                                                <div class="custom-skillbar-title"><span>Javascript</span></div>
                                                <div class="skill-bar-percent">60%</div>
                                                <div class="skillbar-bg" data-percent="60%">
                                                    <div class="custom-skillbar"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="piechart-holder animaper" data-skcolor="#F57500">
                                                <!-- 1  -->
                                                <div class="piechart">
                                                    <span class="chart" data-percent="95">
                                                    <span class="percent"></span>
                                                    </span>
                                                    <div class="clearfix"></div>
                                                    <h4>APAC</h4>
                                                </div>
                                                <!-- 1 end -->
                                                <!-- 2  -->
                                                <div class="piechart">
                                                    <span class="chart" data-percent="90">
                                                    <span class="percent"></span>
                                                    </span>
                                                    <div class="clearfix"></div>
                                                    <h4>UAE</h4>
                                                </div>
                                                <!-- 2 end  -->
                                                <!-- 2  -->
                                                <div class="piechart">
                                                    <span class="chart" data-percent="55">
                                                    <span class="percent"></span>
                                                    </span>
                                                    <div class="clearfix"></div>
                                                    <h4>IND</h4>
                                                </div>
                                                <!-- 2 end  -->                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-number"> <span>0</span>4. </div>
                            </section>
                            <!--section end-->
                            <div class="section-separator fl-wrap"><span></span></div>
                            <!--section  --> 
                            <section class="scroll_sec" id="sec5">
                                <div class="container">
                                    <div class="section-title">
                                        <h3>Clents And Testimonilas</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.  </p>
                                    </div>
                                    <div class="testimonilas-carousel-wrap fl-wrap">
                                        <div class="tc-button tc-button-next"><i class="fal fa-angle-right"></i></div>
                                        <div class="tc-button tc-button-prev"><i class="fal fa-angle-left"></i></div>
                                        <div class="testimonilas-carousel">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <!--testi-item-->
                                                    <div class="swiper-slide">
                                                        <div class="testi-item fl-wrap">
                                                            <div class="testi-avatar"><img src="images/avatar/1.jpg" alt=""></div>
                                                            <div class="testimonilas-text fl-wrap">
                                                                <h3>Andy Dimasky</h3>
                                                                <p>"Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor. Duis autem vel eum  sit amet semiriure dolor consectetur adipiscing elit."</p>
                                                                <span class="testi-number">01.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--testi-item end-->
                                                    <!--testi-item-->
                                                    <div class="swiper-slide">
                                                        <div class="testi-item fl-wrap">
                                                            <div class="testi-avatar"><img src="images/avatar/2.jpg" alt=""></div>
                                                            <div class="testimonilas-text fl-wrap">
                                                                <h3>Frank Dellov</h3>
                                                                <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>
                                                                <span class="testi-number">02.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--testi-item end-->
                                                    <!--testi-item-->
                                                    <div class="swiper-slide">
                                                        <div class="testi-item fl-wrap">
                                                            <div class="testi-avatar"><img src="images/avatar/3.jpg" alt=""></div>
                                                            <div class="testimonilas-text fl-wrap">
                                                                <h3>Centa Simpson</h3>
                                                                <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>
                                                                <span class="testi-number">03.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--testi-item end-->
                                                    <!--testi-item-->
                                                    <div class="swiper-slide">
                                                        <div class="testi-item fl-wrap">
                                                            <div class="testi-avatar"><img src="images/avatar/4.jpg" alt=""></div>
                                                            <div class="testimonilas-text fl-wrap">
                                                                <h3>Nicolo Svensky</h3>
                                                                <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>
                                                                <span class="testi-number">04.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--testi-item end-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tc-pagination"></div>
                                    </div>
                                    <!-- client-list -->
                                    <div class="fl-wrap client-list">
                                        <ul class="">
                                            <li><a href="#" target="_blank"><img src="images/clients/1.png" alt=""></a></li>
                                            <li><a href="#" target="_blank"><img src="images/clients/2.png" alt=""></a></li>
                                            <li><a href="#" target="_blank"><img src="images/clients/3.png" alt=""></a></li>
                                            <li><a href="#" target="_blank"><img src="images/clients/4.png" alt=""></a></li>
                                        </ul>
                                        <!-- client-list end-->
                                    </div>
                                </div>
                                <div class="section-number"> <span>0</span>5. </div>
                            </section>
                            <!--section end-->                 
                        </div>
                        <!--column-wrap-container end -->          
                    </div>
                    <!--column-wrap end-->    
                    <div class="to-top-btn to-top"><i class="fal fa-long-arrow-up"></i></div>
                </div>
                <!-- content end -->
                <!-- share-wrapper-->
                <div class="share-wrapper">
                    <div class="close-share-btn"><i class="fal fa-long-arrow-left"></i></div>
                    <div class="share-container fl-wrap  isShare"></div>
                </div>
                <!-- share-wrapper  end -->
            </div>
            <!-- wrapper end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script   src="js/jquery.min.js"></script>
        <script   src="js/plugins.js"></script>
        <script   src="js/scripts.js"></script>
    </body>

<!-- Mirrored from zonar.kwst.net/site/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Feb 2022 07:44:43 GMT -->
</html>