<%- include('comm/header') -%>
                <!-- content-->    
                <div class="content full-height no-mob-hidden " data-pagetitle="Portfolio single">
                    <div class="fixed-bottom-panel fs-fix-bom-panel fbp_single-car">
                        <div class="hs_init-container">
                            <div class="hs_init-wrap fl-wrap">
                                <div class="hs_init"></div>
                                <div class="fwcb fw-carousel-button-prev"><span><i class="fal fa-angle-left"></i></span> </div>
                                <div class="fwcb fw-carousel-button-next"><span><i class="fal fa-angle-right"></i></span></div>
                            </div>
                        </div>
                        <div class="fw-carousel-counter"></div>
                        <div class="tumbnail-button show_thumbnails unvisthum">
                            <div class="list">
                                <div   class="list-btn">							
                                    <span>
                                    <i class="b1 c1"></i><i class="b1 c2"></i><i class="b1 c3"></i>
                                    <i class="b2 c1"></i><i class="b2 c2"></i><i class="b2 c3"></i>
                                    <i class="b3 c1"></i><i class="b3 c2"></i><i class="b3 c3"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="thumbnail-tooltip">Thumbnails</span>                       
                        </div>
                    </div>
                    <div class="show-details shibtn unvisthum2 sd_btn">Project Details <i class="fal fa-long-arrow-right"></i></div>
                    <!-- fw-carousel-wrap -->
                    <div class="fw-carousel-wrap fsc-holder single_project_carousel">
                        <!-- fw-carousel  -->
                        <div class="fw-carousel  fs-gallery-wrap fl-wrap full-height lightgallery thumb-contr" data-mousecontrol="true">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- swiper-slide-->  
                                    <div class="swiper-slide hov_zoom">
                                        <img  src="images/folio/17.jpg"   alt="">
                                        <a href="images/folio/17.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                        <span class="slide-numb">.01</span>
                                        <div class="show-info">
                                            <span>Info</span>
                                            <div class="tooltip-info">
                                                <h5>Nulla blandit</h5>
                                                <p>Sed non nisi viverra, porttitor sem nec, vestibulum justo tortor ornare turpis faucibus</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end-->  
                                    <!-- swiper-slide-->  
                                    <div class="swiper-slide hov_zoom">
                                        <img  src="images/folio/15.jpg"   alt="">
                                        <a href="images/folio/15.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                        <span class="slide-numb">.02</span>
                                        <div class="show-info">
                                            <span>Info</span>
                                            <div class="tooltip-info">
                                                <h5>Nulla blandit</h5>
                                                <p>Sed non nisi viverra, porttitor sem nec, vestibulum justo tortor ornare turpis faucibus</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end-->                                      
                                    <!-- swiper-slide-->  
                                    <div class="swiper-slide hov_zoom">
                                        <img  src="images/folio/5.jpg"   alt="">
                                        <a href="images/folio/5.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                        <span class="slide-numb">.03</span>
                                        <div class="show-info">
                                            <span>Info</span>
                                            <div class="tooltip-info">
                                                <h5>Nulla blandit</h5>
                                                <p>Sed non nisi viverra, porttitor sem nec, vestibulum justo tortor ornare turpis faucibus</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end--> 
                                    <!-- swiper-slide-->  
                                    <div class="swiper-slide hov_zoom">
                                        <img  src="images/folio/14.jpg"   alt="">
                                        <a href="images/folio/14.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                        <span class="slide-numb">.04</span>
                                        <div class="show-info">
                                            <span>Info</span>
                                            <div class="tooltip-info">
                                                <h5>Nulla blandit</h5>
                                                <p>Sed non nisi viverra, porttitor sem nec, vestibulum justo tortor ornare turpis faucibus</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end--> 
                                    <!-- swiper-slide-->  
                                    <div class="swiper-slide hov_zoom">
                                        <img  src="images/folio/7.jpg"   alt="">
                                        <a href="images/folio/7.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                        <span class="slide-numb">.05</span>
                                        <div class="show-info">
                                            <span>Info</span>
                                            <div class="tooltip-info">
                                                <h5>Nulla blandit</h5>
                                                <p>Sed non nisi viverra, porttitor sem nec, vestibulum justo tortor ornare turpis faucibus</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end--> 
                                    <!-- swiper-slide-->  
                                    <div class="swiper-slide hov_zoom">
                                        <img  src="images/folio/10.jpg"   alt="">
                                        <a href="images/folio/10.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                        <span class="slide-numb">.06</span>
                                        <div class="show-info">
                                            <span>Info</span>
                                            <div class="tooltip-info">
                                                <h5>Nulla blandit</h5>
                                                <p>Sed non nisi viverra, porttitor sem nec, vestibulum justo tortor ornare turpis faucibus</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end--> 
                                    <div class="swiper-slide">
                                        <a class="next-project-swiper-link ajax" href="portfolio-single.html"><span>Next Project Title</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- fw-carousel end -->
                    </div>
                    <!-- project details -->
                    <div class="det-overlay act-closedet"></div>
                    <div class="fix-pr-det hid-det hid-det-anim">
                        <div class="fix-pr-det-dec"></div>
                        <div class="fix-pr-det-dec2 color-bg"></div>
                        <div class="act-closedet closedet_style"><i class="fal fa-times"></i></div>
                        <div class="pr-det-container    fl-wrap full-height hidden-section">
                            <div class="initscroll pr-details-wrap">
                                <div class="container">
                                    <div class="section-title">
                                        <h3>Kent Brant Concept</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.  </p>
                                    </div>
                                    <p>Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae. Ut nec hinc dolor possim. An eros argumentum vel, elit diceret duo eu, quo et aliquid ornatus delicatissimi.  Pri choro pertinax indoctum ne, ad partiendo persecuti forensibus est.</p>
                                    <p>Cu nam tale ferri utroque, eu habemus albucius mel, cu vidit possit ornatus eum. Eu ius postulant salutatus definitionem, explicari. Graeci viderer qui ut, at habeo facer solet usu. Pri choro pertinax indoctum ne, ad partiendo persecuti forensibus est.</p>
                                    <div class="pr-subtitle"> The Brief</div>
                                    <!-- accordion-->                            
                                    <div class="accordion mar-top">
                                        <a class="toggle act-accordion" href="#">Concept for Project <span></span></a>
                                        <div class="accordion-inner visible">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                                        </div>
                                        <a class="toggle" href="#"> Suport and Development<span></span></a>
                                        <div class="accordion-inner">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                                        </div>
                                    </div>
                                    <!-- accordion end -->  							
                                    <!-- project-details-->                            
                                    <div class="project-details fl-wrap">
                                        <ul>
                                            <li><span>01. Date :</span> 26.05.2019 </li>
                                            <li><span>02. Client :</span> Envato</li>
                                            <li><span>03. Category : </span>Design</li>
                                            <li><span>04. Online : </span>  <a href="#" target="_blank">themeforest.net </a></li>
                                        </ul>
                                    </div>
                                    <!-- project-details end -->   
                                    <a href="#" class="btn   color-bg  fl-btn det-anim" target="_blank"><span>View Project</span></a>                           
                                </div>
                            </div>
                        </div>
                        <!--content-nav_holder-->            
                        <div class="content-nav_holder">
                            <div class="content-nav">
                                <ul>
                                    <li>
                                        <a href="portfolio-single2.html" class="ln ajax"><i class="fal fa-long-arrow-left"></i><span>Prev <strong>- Project Title</strong></span></a>
                                        <div class="content-nav-media">
                                            <div class="bg"  data-bg="images/folio/5.jpg"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="portfolio-single3.html" class="rn ajax"><span >Next <strong>- Project Title</strong></span> <i class="fal fa-long-arrow-right"></i></a>
                                        <div class="content-nav-media">
                                            <div class="bg"  data-bg="images/folio/8.jpg"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--content-nav_holder end -->                    
                    </div>
                    <!-- project details  end-->                   
                    <!--thumbnail-container-->	
                    <div class="thumbnail-container">
                        <div class="thumbnail-wrap">
                        </div>
                    </div>
                    <!--thumbnail-container end-->
                    <div class="hero-scroll-down-notifer">
                        <div class="scroll-down-wrap ">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                        <i class="far fa-angle-down"></i>
                    </div>
                    <div class="body-color-bg"></div>
                </div>
                <!-- content end--> 
                <!-- share-wrapper-->
                <div class="share-wrapper">
                    <div class="close-share-btn"><i class="fal fa-long-arrow-left"></i></div>
                    <div class="share-container fl-wrap  isShare"></div>
                </div>
                <!-- share-wrapper  end -->						
            </div>
            <!-- wrapper end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script   src="js/jquery.min.js"></script>
        <script   src="js/plugins.js"></script>
        <script   src="js/scripts.js"></script>
    </body>

<!-- Mirrored from zonar.kwst.net/site/portfolio-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Feb 2022 07:56:17 GMT -->
</html>