<%- include('comm/header') -%>
    <!-- content-->
    <div class="content" data-pagetitle="VAPT">
        <!-- hero-section-dec-->
        <div class="hero-section-dec color-bg">
            <div class="progress-indicator">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34">
                    <circle cx="16" cy="16" r="15.9155" class="progress-bar__background" />
                    <circle cx="16" cy="16" r="15.9155" class="progress-bar__progress 
                                    js-progress-bar" />
                </svg>
            </div>  
        </div>
        <!-- hero-section-dec end-->
        <!--fixed-column-wrap-->
        <div class="fixed-column-wrap">
            <div class="pr-bg"></div>
            <!--fixed-column-wrap-content-->
            <div class="fixed-column-wrap-content">
                <div class="bg" data-bg="images/bg/10.jpg"></div>
                <div class="overlay"></div>
                <div class="progress-bar-wrap bot-element">
                    <div class="progress-bar"></div>
                </div>
                <!--fixed-column-wrap_title-->
                <div class="fixed-column-wrap_title first-tile_load">
                    <h2>VAPT</h2>
                </div>
                <!--fixed-column-wrap_title end-->
                <div class="fixed-column-dec"></div>
                <div class="fixed-column-linedec"></div>
                <div class="scroll-notifer">Scroll Down </div>
            </div>
            <!--fixed-column-wrap-content end-->
        </div>
        <!--fixed-column-wrap end-->
        <div class="col-wc_dec"></div>
        <section class="scroll_sec" id="down">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main-about fl-wrap">
                            <h2>Is Your Website or Network <span>Secured</span> ?</h2>
                            <div class="text-center" style="height: 500px; width: 700px;">
                                <img src="images/team/13.png" class="respimg" alt="">
                            </div>
                            <p>Syscloudtech is an Vulnerability Management and IT Service Company with service offerings
                                in Information Security like VAPT Services, Penetration Testing Services. With the
                                increase in use of smart devices consumers, the information stored and exchanged through
                                them holds high importance. Attempts to gain illegal access to this information are
                                increasing exponentially. People are aware of such cyber-crimes, but a lot of them are
                                not aware of the intensity of consequences until they face first-hand experience. To
                                avoid the loss of business, brands and dignity companies should have regular
                                Vulnerability Assessment and Penetration Testing (VA-PT) services at place.</p>
                            <p>Using the VA-PT approach, gives an organization a more detailed view of the threats their
                                applications face, enabling the business to better protect its systems and data from
                                malicious attacks. A VA-PT testing company like Syscloudtech responds to the security
                                incident, creating compliance policies and developing a security strategy. We deliver
                                robust solutions to companies of all sizes with our talented and expert resources.</p>
                            <p>Syscloudtech, One of the most trusted standards for companies and individuals acquiring
                                services for ensuring the safety of their business, brands and dignity from baffling
                                cyber-attacks. We provide end-to-end security solutions to our clients. Our thrust on
                                securing the People-Process-Technology has enabled us to offer impenetrable security to
                                our clients.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-number"> <span>0</span>1. </div>
        </section>

        <div class="to-top-btn to-top"><i class="fal fa-long-arrow-up"></i></div>
    </div>
    <!-- content end-->
    <div class="hero-scroll-down-notifer">
        <div class="scroll-down-wrap ">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
        </div>
        <i class="far fa-angle-down"></i>
    </div>
    <!-- share-wrapper-->
    <div class="share-wrapper">
        <div class="close-share-btn"><i class="fal fa-long-arrow-left"></i></div>
        <div class="share-container fl-wrap  isShare"></div>
    </div>
    <!-- share-wrapper  end -->
    </div>
    <!-- wrapper end -->
    <!-- cursor-->
    <div class="element">
        <div class="element-item"></div>
    </div>
    <!-- cursor end-->
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script src="js/jquery.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/scripts.js"></script>
    </body>

    <!-- Mirrored from zonar.kwst.net/site/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Feb 2022 07:57:48 GMT -->

    </html>