<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from zonar.kwst.net/site/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Feb 2022 07:44:33 GMT -->

<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>SysCloudTech <%= header_data %>
    </title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="css/plugins.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/color.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <!-- loader   -->
    <div class="loader">
        <div class="loading-text-container "><span class="loading-text">Load<strong>ing</strong></span> <span
                class="loader_count">0</span></div>
        <div class="loader-anim"></div>
        <div class="loader-anim2 color-bg"></div>
    </div>
    <!-- loader  end-->
    <!-- main start  -->
    <div id="main">
        <!-- header-->
        <header class="main-header">
            <!-- logo  -->
            <a href="/" class="ajax logo-holder"><img src="images/logo.png" alt=""></a>
            <!-- logo end -->
            <!-- nav-button-wrap-->
            <div class="nav-button but-hol">
                <span class="ncs"></span>
                <span class="nos"></span>
                <span class="nbs"></span>
                <div class="menu-button-text">Menu</div>
            </div>
            <!-- nav-button-wrap end-->
            <!-- header-contacts-->
            <div class="header-contacts">
                <ul>
                    <li><span>Call </span> <a href="tel:+919873779948">+(91) 9873779948</a></li>
                    <li><span>Email </span> <a href="mailto:info@syscloudtech.com">info@syscloudtech.com</a></li>
                </ul>
                <a href="contacts.html" class="ajax contacts-btn">Get in touch</a>
            </div>
            <!-- header-contacts end-->
        </header>
        <!-- header end-->
        <!-- left-header-->
        <aside class="left-header">
            <span class="lh_dec color-bg"></span>
            <div class="left-header_social">
                <ul>
                    <li><a href="https://www.facebook.com/SysCloudTech/" target="_blank"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/syscloudtech/" target="_blank"><i
                                class="fab fa-instagram"></i></a></li>
                    <li><a href="https://lnkd.in/ecyWdtQF" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin"
                            target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </aside>
        <!-- left-header end-->
        <!-- share button-->
        <div class="share-btn showshare color-bg"><span>Share <i class="fal fa-plus"></i></span></div>
        <!-- share button end-->
        <!-- right header-->
        <div class="hc_dec_color">
            <div class="page-subtitle"><span></span></div>
        </div>
        <!-- right header end-->
        <!-- wrapper  -->
        <div id="wrapper">
            <!-- navigation menu-->
            <div class="nav-holder">
                <div class="nav-holder-wrap but-hol">
                    <div class="nav-container fl-wrap">
                        <!-- nav -->
                        <nav class="nav-inner" id="menu">
                            <ul>
                                <li><a href="/" class="ajax">Home</a></li>
                                <li><a href="/about" class="ajax">About</a></li>
                                <li>
                                    <a href="#">Training & Development</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="#">Cybersecurity</a>
                                            <ul>
                                                <li>
                                                    <a href="#">CompTia</a>
                                                    <ul>
                                                        <li><a href="#" class="ajax">CompTIA ITF+</a></li>
                                                        <li><a href="#" class="ajax">CompTIA A+</a></li>
                                                        <li><a href="#" class="ajax">CompTIA Network+</a></li>
                                                        <li><a href="#" class="ajax">CompTIA Security+</a></li>
                                                        <li><a href="#" class="ajax">CompTIA Server+</a></li>
                                                        <li><a href="#" class="ajax">CompTIA Linux+</a></li>
                                                        <li><a href="#" class="ajax">CySA+ Cybersecurity Analyst</a></li>
                                                        <li><a href="#" class="ajax">CASP+ Advanced Security Practitioner</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Ec-Council</a>
                                                    <ul>
                                                        <li><a href="#" class="ajax">CEHv11</a></li>
                                                        <li><a href="#" class="ajax">Certified Network Defender</a></li>
                                                        <li><a href="#" class="ajax">Ec Council Certified Security Analyst</a></li>
                                                        <li><a href="#" class="ajax">Computer Hacking Foresic Investigator</a></li>
                                                        <li><a href="#" class="ajax">cciso</a></li>
                                                        <li><a href="#" class="ajax">CEH Practical</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#" class="ajax">ISACA</a>
                                                    <ul>
                                                        <li><a href="#" class="ajax">Certified Informations</a></li>
                                                        <li><a href="#" class="ajax">Systeams Auditor</a></li>
                                                        <li><a href="#" class="ajax">Systeams Manager</a></li>
                                                        <li><a href="#" class="ajax">Certified in Risk and Informations Systems Control</a></li>
                                                        <li><a href="#" class="ajax">Certified in the Governance of Enterprise</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#" class="ajax">ISC2</a>
                                                    <ul>
                                                        <li><a href="#" class="ajax">CISSP</a></li>
                                                        <li><a href="#" class="ajax">SSCP</a></li>
                                                        <li><a href="#" class="ajax">CCSP</a></li>
                                                        <li><a href="#" class="ajax">CISSP</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#" class="ajax">Cloud Computing</a>
                                            <ul>
                                                <li><a href="#" class="ajax">Style 1</a></li>
                                                <li><a href="#" class="ajax">Style 2</a></li>
                                                <li><a href="#" class="ajax">Style 3</a></li>
                                                <li><a href="#" class="ajax">Style 4</a></li>
                                                <li><a href="#" class="ajax">Style 5</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#" class="ajax">Project Managment</a>
                                            <ul>
                                                <li><a href="#" class="ajax">Style 1</a></li>
                                                <li><a href="#" class="ajax">Style 2</a></li>
                                                <li><a href="#" class="ajax">Style 3</a></li>
                                                <li><a href="#" class="ajax">Style 4</a></li>
                                                <li><a href="#" class="ajax">Style 5</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#" class="ajax">Networking</a>
                                            <ul>
                                                <li><a href="#" class="ajax">Style 1</a></li>
                                                <li><a href="#" class="ajax">Style 2</a></li>
                                                <li><a href="#" class="ajax">Style 3</a></li>
                                                <li><a href="#" class="ajax">Style 4</a></li>
                                                <li><a href="#" class="ajax">Style 5</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <!-- <li><a href="/portfolio" class="ajax">Portfolio</a></li> -->
                                <li>
                                    <a href="#">Services</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="/trainingDevelopment" class="ajax">Training & Development</a></li>
                                        <li><a href="/vapt" class="ajax">VAPT</a></li>
                                        <li><a href="/Recruitment" class="ajax">IT Recruitment & Staffing</a></li>
                                        <li><a href="/Solution" class="ajax">IT Solution & Web Solution</a></li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <!-- <li><a href="/blog" class="ajax">Blog</a></li> -->
                                <li><a href="/contacts" class="ajax">Contacts</a></li>
                            </ul>
                        </nav>
                        <!-- nav end-->
                    </div>
                    <div class="nav-footer"><span>&#169; SysCloudTech <%= new Date().getFullYear();%> / All rights
                                reserved. Powered by <a href="octaright.com" style="color:#00c7de;">Octaright
                                    Technologies</a> </span></div>
                    <div class="nav-holder-wrap_line"></div>
                    <div class="nav-holder-wrap_dec"></div>
                </div>
            </div>
            <div class="nav-overlay"></div>
            <!-- navigation menu end  -->

            <a
        href="https://wa.me/+919873779948"
        class="whatsapp_float"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa fa-whatsapp whatsapp-icon"></i>
      </a>

      